div {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    color: rgb(52, 52, 52);
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.25em;
    margin-bottom: 0.5em;
}

h4 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.25em;
    margin-bottom: 1em;
    line-height: 1.4em;
}

button {
    font-family: 'Roboto Mono', monospace;
}

button:hover,
.create-account:hover {
    cursor: pointer;
}

html {
    background: url('../images/background_large.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.flexbox {
    display: flex;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.align-self {
    align-self: center;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.flex-grow {
    flex-grow: 1;
}

.border-input-searchbar, 
.border-input, 
.role-input,
.border-input-add-info,
.border-input-text {
    font-family: 'Roboto Mono', monospace;
    border: 5px solid rgb(121, 212, 168);
    border-radius: 25px;
    background-color: rgb(220, 220, 220);
    font-size: 16px;
    margin-top: 11px;
    margin-bottom: 25px;
}

.border-input, 
.role-input,
.border-input-add-info,
.border-input-text {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 13px;
    padding-bottom: 12px;
}

.border-input-searchbar {
    width: 85%;
}

.border-input,
.border-input-add-info,
.border-input-text {
    text-align: center;
    font-weight: bold;
    width: 50%;
}

.border-input-text {
    font-weight: normal;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.border-input-add-info {
    margin-bottom: 8px;
}

.role-input {
    text-overflow: ellipsis;
    width: 65%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.password {
    padding-top: 8px;
    padding-bottom: 8px;
}

.minimalistic-input {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(69, 63, 62);
    padding-left: 24px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 16px;
    margin-top: 7px; 
    margin-bottom: 25px;
}

.input-header, 
.input-header-slim,
.create-account,
.get-code {
    font-weight: bold;
    color: white;
}

.input-header {
    margin-top: 10px;
}

.get-code {
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}

.forgotten-password {
    color: white;
    font-size: 12px;
    margin-bottom: 1em;
}

.forgotten-password:hover {
    cursor: pointer;
}

.create-account,
.get-code {
    letter-spacing: 1px;
    position: absolute;
    bottom: 1em;
}

.reserved-message {
    color: white;
    margin-top: 1em;
    font-weight: bold;
    background-color: rgb(121, 212, 168);
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
}

/* removes number-field arrows from input fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
/**/

.general-button, .button-no-border {
    border-radius: 25px;
    background-color: rgb(121, 212, 168); 
    margin-bottom: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.general-button {
    border: 5px solid rgb(220, 220, 220);
    width: 77%;
    font-size: 14px;
    letter-spacing: 0.1em;
    padding-top: 13px;
    padding-bottom: 12px;
    padding-right: 24px;
    padding-left: 24px;
}

.button-no-border {
    border: none;
    font-size: 17px;
    letter-spacing: 0.22em;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 19px;
    padding-left: 19px;
}

.body {
    margin-left: 1.3em;
    margin-right: 1.3em;
    margin-bottom: 2em;
}


.horizontal-line {
    background-color: rgb(220, 220, 220);
    height: 1px;
    width: 100%;
    margin-top: 0.8em;
    
}

.author {
    font-size: 0.85em;
    margin-top: 1.3em;
}

.title {
    margin-top: 0.1em;
    font-size: 1.1em;
}

.announcement {
    margin-bottom: 2.5em;
}

.additional-space {
    margin-top: 2em;
}

.small-space {
    margin-top: 1em;
}

.double-space {
    margin-top: 5em;
}

.bulletin-info {
    margin-top: 0.8em;
}

#add-bulletin, .admin-page-input {
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}

#add-bulletin:focus, 
.admin-page-input:focus, 
button:focus,
.searchbar:focus,
.minimalistic-input:focus,
input:focus {
    outline: none;
}

.attach-bottom {
    display: grid;
    position: absolute;
    place-self: center;
    bottom: 0em;
}
.text-align {
    text-align: center;
}

.register-info > div {
    margin-bottom: 1em;
}

.register-info > div > ul {
    margin-top: 1em;
    margin-bottom: 1em;
}

.register-info > div > ul > li {
    color: black;
    text-transform: none;
    font-weight: 400;
    font-size: 100%;
    letter-spacing: 0;
    text-align: left;
    list-style: square;
    margin-left: 1.5em;   
}

.reservation-info {
    margin-bottom: 1.5em;
}

.searchbar {
    border: none;
    background-color: rgb(220, 220, 220);
    margin-left: 24px;
    margin-right: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 7px;
    padding-top: 10px;
    font-size: 1em;
}

.margin-bottom {
    margin-bottom: 2em;
}

.back-button {
    color: rgb(121, 212, 168);
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 15px;
    padding-bottom: 1px;
    filter: drop-shadow(0px 0px 4px #d6d6d6)
}

.back-button-text {
    color: rgb(80, 80, 80);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    display: inline-block;
}

.back-button-text:hover {
    cursor: pointer;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(121, 212, 168, 0.92);
    z-index: 9999;
    padding: 1em;
    padding-top: 1em;
}

.overlay > h4 {
    margin-bottom: 3em;
    margin-top: 8em;
}

.overlay-books > div {
    margin-bottom: 1em;
}

.overlay-button {
    margin-bottom: 4em;
    border-radius: 50%;
    border: none;
    font-weight: bold;
    color: rgb(121, 212, 168);
    height: 3em;
    width: 3em;
    margin-top: 1em;
    margin-left: 0.5em;
    position: absolute;
    right: 5em;  
}

.delete {
    border-radius: 50%;
    background-color: rgb(173, 32, 28);
    height: 1.5em;
    width: 1.5em;
    text-align: center;
    line-height: 1.5em;
    font-size: 0.7em;
    color: white;
    margin-left: 1em;
}

.delete:hover {
    cursor: pointer;
}

.general-list {
    margin-bottom: 1em;
}

.margin {
    margin-left: 1em;
    margin-right: 2em;
}

.admin-page-input {
    width: 100%;
    padding: 5px;
}

/* color bars & texts */
.bar {
    width: 25px;
    margin-left: 1em;
}

.blue, .own-borrow {
    background-color: rgb(41, 90, 150);
}

.yellow, .reserved {
    background-color: rgb(236, 171, 84);
}

.red, .borrowed {
    background-color: rgb(173, 32, 28);
}

.gray {
    background-color: rgb(69, 63, 62);
}

.green, .free {
    background-color: rgb(121, 212, 168);
}

.red-text {
    color: rgb(173, 32, 28);
}

/* search results availability -traffic lights */
.ball {
    border-radius: 50%;
    height: 1em;
    width: 1em;
    margin-top: 1em;
    margin-left: 0.5em;
}

/*css-animated elements */
@keyframes loading {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(360deg);
    }
}

.loading {
    animation: loading 2s linear infinite;
    -webkit-animation: loading 2s linear infinite;
    height: 6.5em;
}